/* Card styles */



/* Common */

.c-card-featured, .c-card {
  .post-categories {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  
    li {
      display: inline-block;
  
      &:first-of-type {
        a {
          margin-left: 0;
        }
      }
    }
  
    a {
      display: inline-block;
      margin-left: 10px;
      padding: 0 5px;
      font-size: 10px;
      line-height: 22px;
      color: #fff;
      text-transform: uppercase;
      background-color: #534B4B;
      border-radius: 2px;
    }
  }
}


/* Featured card */

@media (max-width: 767px) {
  .c-card-featured {
    &--small {
      display: inline-block;
      width: calc(100% - 40px);
      margin-right: 10px;
      white-space: normal;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.c-card-featured {
  position: relative;
  height: 400px;
  margin-top: 20px;
  color: #fff;
  background: #333 url(//via.placeholder.com/350x200) center;
  background-size: cover;
  border-radius: 5px;

  &--small {
    height: 190px;
  }

  &__info {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: calc(100% - 40px);
  }

  &__title {
    width: 66%;
    max-height: 135px;
    font-size: 30px;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    overflow: hidden;

    &--small {
      max-height: 60px;
      font-size: 20px;
    }
  }

  &__author {
    margin-top: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;

    &--small {
      margin-top: 20px;
    }

    i {
      margin-right: 5px;
    }
  }
}


/* Generic card */

.c-card {
  position: relative;
  margin-top: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;

  &__thumbnail {
    height: 175px;
    background: #333 url(//via.placeholder.com/350x200) center;
    background-size: cover;
  }

  &__info {
    padding: 20px;
  }

  &__basic {
    display: block;
    color: #000;
  }

  &__title {
    max-height: 60px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    overflow: hidden;
  }

  &__excerpt {
    max-height: 63px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    margin-top: 35px;
    padding: 30px 0 25px 0;
    font-size: 14px;
    line-height: 14px;
    color: #999;

    i {
      margin-right: 5px;
    }
  }

  &__author {
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .c-card {
    &__basic {
      height: 135px;
    }
  }
}