/* Single post styles */



.c-post-header {
  width: 100%;
  color: #fff;
  background: #333 center no-repeat;
  background-size: cover;

  &__date, &__title {
    text-align: center;
  }

  &__date {
    margin-top: 110px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

    i {
      margin-right: 5px;
    }
  }

  &__title {
    width: 100%;
    max-width: 900px;
    margin: 40px auto 0 auto;
    font-size: 40px;
    line-height: 60px;
  }

  &__post-navs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 120px auto 70px auto;
  }

  &__post-nav {
    max-width: 360px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;

    i {
      margin: 0 15px;
      font-size: 20px;
    }
  }

  &__nav-text {
    display: inline-block;
    max-width: 300px;

    &:hover {
      text-decoration: underline;
    }
  }
}


.c-post {
  &__stats {
    display: flex;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__stat {
    margin-right: 60px;
    line-height: 25px;

    &:last-of-type {
      margin-right: 0;
    }

    i {
      margin-right: 5px;
    }
  }

  &__stat-caption {
    font-size: 14px;
    color: #bbb;
    text-transform: uppercase;
  }

  &__stat-text {
    font-size: 16px;
    color: #D35400;
    font-weight: bold;
  }

  &__content {
    margin-top: 60px;
    font-size: 18px;
    line-height: 35px;
  }

  .post-categories {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  
    li {
      display: inline-block;
  
      &:first-of-type {
        a {
          margin-left: 0;
        }
      }
    }
  
    a {
      display: inline-block;
      margin-left: 5px;
      padding: 0 5px;
    }
  }
}


.c-post-sidebar {
  margin-top: 40px;

  &__heading {
    margin-bottom: 30px;
    text-transform: none;
  }

  &__item {
    display: flex;
    margin-top: 25px;
  }

  &__thumbnail {
    width: 85px;
    height: 85px;
    background: gray center;
    background-size: cover;
    border-radius: 5px;
  }

  &__details {
    width: calc(100% - 85px - 15px);
    margin-left: 15px;
    line-height: 20px;
    font-weight: bold;
  }

  &__title {
    font-size: 14px;
    color: #000;
  }

  &__author {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
  }
}