/* Utilities */



/* Margin styles */

.u-m0 {
  margin: 0;
}


/* Alignment */

.u-vam {
  display: inline-block;
  vertical-align: middle;
}


/* Text styles */

.u-to {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-ts {
  text-shadow: 0 0 3px rgba(0,0,0,.75);
}